# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Envs
.venv/
venv/
.env

# Packaging
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store

# JS noise
node_modules/

# IDEs
.vscode/
.idea/
